<footer class="container" >
 

        <div class="row" style="background-color :whitesmoke;">
            <div class="col-md-7">
            <div class="row">
            <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Opening hours </h2>
            <ul class="list-unstyled">
            <li><a ><strong>Sunday</strong> closed</a></li>
            <hr class="separator">

            <li><a ><strong>Monday Friday</strong> 9h-18h</a></li>
            <hr class="separator">
            <li><a><strong>Saturday</strong>  9h-14h</a></li>
        
            </ul>
            </div>
            <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">Our Clinic</h2>
            <ul class="list-unstyled">
                <li><a >docotr@gmail.com </a></li>
                <hr class="separator">

            <li><a >203 Fake St. Mountain View, San Francisco, California, USA</a></li>
         
            </ul>
            </div>
            </div>
            </div >
            <div class="col-md-5 mb-md-0 mb-4">
            <h2 class="footer-heading">Subscribe</h2>
            <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
            <input type="text" class="form-control rounded-left" placeholder="Enter email address">
            <button type="submit" class="form-control submit rounded-right">Subscribe</button>
            </div>
            </form>
            </div>
            </div>
           
                
        </footer>
      