<div class="parent">
  <div class="div1">
    <div class="footer-opening-hours">
    <h4>Opening Hours</h4>
    <p>Monday - Friday: 9:00 AM - 6:00 PM</p>
    <p>Saturday: 9:00 AM - 2:00 PM</p>
    <p>Sunday: Closed</p>
  </div></div>
  <div class="div2">
    <div class="footer-contact">
    <h4>Contact</h4>
    <p>Email: <a href="mailto:email@email.com">email@email.com</a></p>
  </div>
</div>
  <div class="div3">
    <div class="footer-location">
      <h4>Location</h4>
      <p>203 Fake St.</p>
      <p>Mountain View, San Francisco, California, USA</p>
    </div>
     </div>
  <div class="div4">
    <div class="footer-social">
      <ul>
        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  </div>

