
<div class="container">
  <div class="brand-logo"></div>
  <div class="brand-title">TWITTER</div>
  <div class="inputs">
    <label>Name</label>
    <input type="namesec" placeholder="" />
    <label>Lastname</label>
    <input type="lastnamesec" placeholder="" />
    <label>Lastname</label>
    <input type="lastnamesec" placeholder="" />
    <label>Email</label>
    <input type="emailsec" placeholder="" />
    <label>Date of Birth</label>
    <input type="birthsec" placeholder="" />
    <label>Office Number</label>
    <input type="phonesec" placeholder="" />
    <button type="submit">LOGIN</button>
  </div>
  
</div>