.ulist{
  background-color:#d3e1e2;
}

.container {
  width: 100%;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.table th {
  background-color: #a5bddd;
  color: #fff;
  font-weight: bold;
  text-align: left;
  padding: 12px;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
    .gem-button
    {
        cursor: pointer;
      border-width: 2px;
        line-height: 36px;
        border-style: solid;
        background: transparent;
        height: 40px;
        line-height: 40px;
        padding: 0 17px;
        font-size: 14px;
        margin: 25px;
        position: relative;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        vertical-align: middle;

    }
    .gem-green
    {
      border-radius: 0px;
        border-color: rgb(0, 188, 212);
        color: rgb(0, 188, 212) !important;
    }
    .gem-green:hover
    {
         background-color: rgb(0, 188, 212);
        color: rgb(255, 255, 255) !important;
    }

    .gem-purpel
    {
      border-radius: 0px;
        border-color: rgb(166, 55, 236);
        color: rgb(166, 55, 236) !important;
    }

    .gem-purpel:hover
    {
         background-color: #a637ec;
        color: rgb(255, 255, 255) !important;
    }


    .gem-orange
    {
      border-radius: 0px;
        border-color: #ee417c;
        color: #ee417c !important;
    }

    .gem-orange:hover
    {
         background-color: #ee417c;
        color: rgb(255, 255, 255) !important;
    }
