<app-navbar></app-navbar>
<div class="parent">
  <div class="div1">
    <div class="container">
      <div class="heading">Sign In</div>
      <form class="form" [formGroup]="myloginForm" (ngSubmit)="login()">
        <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail" formControlName="emailu">
        <input required="" class="input" type="password" name="password" id="password" placeholder="Password" formControlName="passwordu">
        <input class="login-button" type="submit" value="Sign In"  >
      </form>
        <span class="signup"><a href="register">Sign Up</a></span>
    </div>
     </div>
  </div>
<app-footer></app-footer>
