<app-user-navbar></app-user-navbar>

<div class="addapt">
  <br>

<div class="container">
  <form class="form" [formGroup]="myappForm" (ngSubmit)="saveAppointment()">
    <div class="descr">ADD APPOINTMENT</div>
    <div class="input">
        <input name="firsstname" required="" type="text" formControlName="firstname">
        <label for="firstname">Name</label>
    </div>

    <div class="input">
        <input required="" name="time" type="time" formControlName="appointmentTime">
        <label for="time">Appointment Time</label>
    </div>

    <div class="input">
        <input  type="date"  id="date" formControlName="appointmentDate">
        <label for="Date">Appointment date</label>
    </div>
    <button type="submit">Add Appointment →</button>
  </form>
</div>
<br>
<br>
</div>

<app-footer></app-footer>

