<app-navbar></app-navbar>


<div class="container">
    <div class="h2">
       Appointments List
    </div>
    <table class="table">
    
        <thead>
            
            <tr>
                <th>Id</th>
                <th>firstname</th>
                <th>AppointmentDate</th>
                <th>AppointmentTime</th>
                <th>Action</th>
            </tr>
            
        </thead>
<tbody>
    <tr *ngFor="let appointment of appointmentList ">
        <th>{{ appointment.id }}</th>

        <td>{{ appointment.firstname }}</td>
        <td>{{ appointment.appointmentDate }}</td>
        <td>{{ appointment.appointmentTime }}</td>
        <td>
            <div class="gem-button-container gem-button-position-center">
            <button class="btn gem-button gem-green ">Details</button>
            <button class="btn gem-button gem-purpel">Update</button>
            <button class="btn gem-button gem-orange" >Delete</button>

        </div>
        </td>
    </tr>
</tbody>
</table>
