<app-navbar></app-navbar>

<div class="container">
    <div class="text">
       Add Medical Record
    </div>

    <form [formGroup]="mymedrecForm" (ngSubmit)="saveMedicalRecord()">
        <div class="form-row">

            <div class="input-data">
               <input type="text" required name="datebirth" id="datebirth" formControlName="datebirth">
               <div class="underline"></div>
               <label for="firstname">Date of birth</label>
            </div>

            <div class="input-data">
                <input type="text" required name="appdate" id="appdate" formControlName="appdate">
                <div class="underline"></div>
                <label for="appdate">Appointment Date</label>
             </div>

        </div>

        <div class="form-row">
             <div class="input-data">
                <input type="text" required name="apptime" id="apptime" formControlName="apptime">
                <div class="underline"></div>
                <label for="apptime">Appointment Time</label>
             </div>
    
             <div class="input-data">
                <input type="text" required name="diagnosis" id="diagnosis" formControlName="diagnosis">
                <div class="underline"></div>
                <label for="diagnosis">Diagnostic</label>
             </div>
        </div>
        
        <div class="form-row">

        

             <div class="input-data">
                <input type="text" required name="treatment" id="treatment" formControlName="treatment">
                <div class="underline"></div>
                <label for="treatment">Treatment</label>
             </div>
        </div>


    
        <div class="form-row submit-btn">
            <div class="input-data">
               <div class="inner"></div>
               <input type="submit" value="Add">
            </div>
         </div>

    </form>
    </div>
<app-footer></app-footer>