<app-user-navbar></app-user-navbar>
<header>
  <h1>User Profile</h1>
</header>
<main>
  <section class="user-description">
      <img src="../../assets/images/patient.jfif" alt="User's Profile Picture">
      <h2>Mohamed Ben Mahmoud</h2>
      <p>Email: Med@gmail.com</p>
      <p>Location: Ben Arous, Tunis</p>
  </section>
  <section class="user-table">
      <h2>Next Appointment</h2>
      <table>
          <tr>
              <td><strong>Date</strong></td>
              <td>20/11/2023</td>
          </tr>
          <tr>
              <td><strong>Time</strong></td>
              <td>10:30</td>
          </tr>
          <tr>
              <td><strong>Location:</strong></td>
              <td>Ben Arous, Tunis</td>
          </tr>
          <!-- Add more rows as needed -->
      </table>
  </section>
</main>
