<app-doctornavbar></app-doctornavbar>
<header>
  <h1>Doctor Profile</h1>
</header>
<main>
  <section class="profile">
      <img src="../../assets/images/doctorhome.png" alt="Doctor's Profile Picture">
      <h2>Dr. Ahmed Jmal</h2>
      <p>Specialty: Cardiologist</p>
      <p>Location:Menzah, Tunisia</p>
      <p>Experience: 10+ years</p>
      <p>Education: FMT</p>
  </section>
  <section class="bio">
      <h2>About Dr. Ahmed Jmal</h2>
      <p>I believe that a good doctor should be able to treat his patiens no matter  are the conditions.
      My aim is to help every person who needs help .With my rich experience as an intern in different
      hospitals I gained an interesting experience .And that what's made me love my job and be more confident .
       </p>
  </section>
</main>

