<!--
<main class="form-contact ">
<h2>Contact Us</h2>

<form [formGroup]="mycontactForm" (ngSubmit)="savemsg()">
<label for="namecontact">Name</label>
<input  placeholder="Write your name here.." type="text" name="namecontact" id="namecontact" formControlName="namecontact">
<label for="emailcontact">Email</label>
<input placeholder="Let us know how to contact you back.." type="text" name="emailcontact" id="emailcontact"  formControlName="emailcontact">


<label for="message">Message</label>
<input placeholder="What would you like to tell us.." type="text" name="message" id="message" formControlName="message">

<button>
<input type="submit" value="Send Message">
</button>

<div class="info">
    <span class="fas fa-phone"></span>001 1023 567
    <span class="fas fa-envelope-o"></span> doctor@gmail.com
  </div>

</form>
</main>


-->


<app-navbar></app-navbar>
<div class="parent">
  <div class="div1">
<form class="form">
  <div class="flex">
      <label>
          <input class="input" type="text" placeholder="" required="">
          <span>first name</span>
      </label>
&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      <label>
          <input class="input" type="text" placeholder="" required="">
          <span>last name</span>
      </label>
  </div>

  <label>
      <input class="input" type="email" placeholder="" required="">
      <span>email</span>
  </label>

  <label>
      <input class="input" placeholder="" type="tel" required="">
      <span>contact number</span>
  </label>
  <label>
      <textarea class="input01" placeholder="" rows="3" required=""></textarea>
      <span>message</span>
  </label>

  <button href="#" class="fancy">
    <span class="top-key"></span>
    <span class="text">submit</span>
    <span class="bottom-key-1"></span>
    <span class="bottom-key-2"></span>
  </button>
</form>
</div>
</div>
<app-footer></app-footer>
