<app-navbar></app-navbar>

    <div class="background-container">
        <div class="text-overlay">
          <h1>Making Healthcare better together</h1>
         
          <button>
             Our Services
          </button>
        </div>
     </div>

     <div class="healthcare-section">
      <div class="healthcare-item">
        <h3>Hospitality</h3>
        <p>Clinical excellence must be the priority for any health care service provider.</p>
        <button>Apply For a Bed</button>
      </div>
      <div class="healthcare-item">
        <h3>Emergency Care</h3>
        <p>Our doctor will be in your service at any time and anywhere anywhere.</p>
        <button>  +10 672 356 3567</button>
      </div>
      <div class="healthcare-item">
        <h3>Get an Appointment</h3>
        <p>Clinical excellence must be the priority for any health care service provider.</p>
        <button [routerLink]="['/addappointment']">Make an Appointment</button>
      </div>
    </div>






<!--
    <div class="container">
        <div class="service_area" style="background-color: #5D8AA8;">
<div class="container p-0">
<div class="row no-gutters">
<div class="col-xl-4 col-md-4">
<div class="single_service">
<div class="icon">
<i class="flaticon-electrocardiogram"></i>
</div>
<h3>Hospitality</h3>
<p>Clinical excellence must be the priority for any health care service provider.</p>
<a href="#" class="boxed-btn3-white">Apply For a Bed</a>
</div>
</div>
<div class="col-xl-4 col-md-4">
<div class="single_service">
<div class="icon">
<i class="flaticon-emergency-call"></i>
</div>
<h3>Emergency Care</h3>
<p>Our doctor will be in you service at anytime and anywhere </p>
<a href="#" class="boxed-btn3-white">+10 672 356 3567</a>
</div>
</div>
<div class="col-xl-4 col-md-4">
<div class="single_service">
<div class="icon">
<i class="flaticon-first-aid-kit"></i>
</div>
<h3>Get an Appointment</h3>
<p>Clinical excellence must be the priority for any health care service provider.</p>
<a href="#" class="boxed-btn3-white">Make an Appointment</a>
</div>
</div>
</div>
</div>
</div>

    </div>
-->



<app-footer></app-footer>
