<app-login-navbar></app-login-navbar>
  <div class="containerregister">

  <div class="screen">
    <div class="screen__content">
      <form [formGroup]="myregisterForm" (ngSubmit)="saveRegistration()">
   
        <div class="login__field">
          <input type="firstNameu" class="login__input" placeholder="Username " required formControlName="firstNameu">
        </div>

        <div class="login__field">
          <input type="lastNameu" class="login__input" placeholder="lastNameu" required  formControlName="lastNameu">
        </div>
        <div class="login__field">
            <input type="emailu" class="login__input" placeholder="Email" required  formControlName="emailu">
          </div>
          <div class="login__field">
            <input type="phoneu" class="login__input" placeholder="Phone nmber" required  formControlName="phoneu">
          </div>
        <div class="login__field">
            <input type="passwordu" class="login__input" placeholder="New Password" required  formControlName="passwordu">
          </div>
        
        <button class="button login__submit" type="submit" value="Send">
          <span class="button__text">Register</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button> 
      </form>
    </div>
   
        <div class="screen__background">
          <span class="screen__background__shape screen__background__shape4"></span>
          <span class="screen__background__shape screen__background__shape3"></span>		
          <span class="screen__background__shape screen__background__shape2"></span>
          <span class="screen__background__shape screen__background__shape1"></span>
        </div>

         


</div>
            

