<app-navbar></app-navbar>
<div class="parent">
  <div class="div1">
    <div class="container">
      <div class="heading">Sign Up</div>
      <form action=""  [formGroup]="myregisterForm"  class="form">
        <input required="" formControlName="firstNameu"  class="input" type="text" name="firstname" id="firstname" placeholder="Firstname">
        <input required="" formControlName="lastNameu" class="input" type="text" name="lastname" id="lastname" placeholder="Lastname">
        <input required="" formControlName="emailu" class="input" type="email" name="email" id="email" placeholder="E-mail">
        <input required="" formControlName="phoneu" class="input" type="phone" name="phone" id="phone" placeholder="Phone Number">
        <input required="" formControlName="passwordu" class="input" type="password" name="password" id="password" placeholder="Password">
        <input class="register-button" (click)="saveRegistration()" type="submit" value="Register" [routerLink]="['/login']">
      </form>
        <span class="signin"><a  href="login">Sign In</a></span>
    </div>
     </div>
  </div>
